
/* -------  app container  ------- */
.appContainer {
  display:flex;
  align-items:center;
  flex-direction:column;
}


/* -------  header container  ------- */
.headerContainer {
  width:100%;
  display:flex;
  justify-content:center;
}
/* -------  header  ------- */
.header {
  font-family:monospace;
  font-size:3.33em;
}


/* -------  main container  ------- */
.mainContainer {
  width:96%;
  height:100%;
  max-width:1600px;
  margin:0 auto;
}


/* -------  homes list  ------- */
.homesList {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}


/* -------  home item  ------- */
.homeItem {
  margin:1.25em;
  border:2px solid #070707;
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex:1 1 calc(50% - 2.5em);
  min-width:333px;
}


/* -------  image container  ------- */
.imageContainer {
  flex:1;
  position:relative;
}
/* -------  image  ------- */
.image {
  background:#ddd;
  display:flex;
}
.imageCaption {
  width:100%;
  background-color:rgba(255,255,255,0.7);
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  padding:0.2em 0.4em;
}


/* -------  info container  ------- */
.infoContainer {
  flex:1;
  display:flex;
  flex-direction:column;
  height:100%;
  align-items:center;
  justify-content:space-between;
  padding:2.4% 0.6% 1.2%;
  font-size:100%;
  text-align:center;
}


/* -------  location container  ------- */
.locationContainer {
  text-align:center;
}
.street {
  font-size:1.2em;
}
.region {
  font-size:1.05em;
}


.priceContainer {
  font-weight:500;
  font-size:2em;
}

.detailsContainer {
  width:100%
}
.detailsList {
  display:flex;
  justify-content:space-around;
}
.detailsItem {
  font-size:0.8em;
}
.detailsItem span {
  font-size:150%;
  display:block;
  font-weight:400;
}
.detailsItem:not(:last-child) {
}

.mlsContainer {
  width:90%;
  margin:0 auto;
  line-height:1;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
.mlsData {
  font-size:0.8em;
}
.bullet {
  margin:0 1em;
}

.saveBtn {
  font-size:1em;
  line-height:1;
}
.saveIcon {
  padding:1% 2%;
}




/* -------  loading container  ------- */
.loadingContainer {

}

/* -------  svg container  ------- */
.svgContainer {
  position:relative;
  width:70px;
  margin:0 auto;
}

 /* -------  svg container - ::after  ------- */
.svgContainer::before {
  content:'';
  display:block;
  padding-top:100%;
}

/* -------  svg  ------- */
.svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  transform-origin:center center;
  animation:rotate 2s linear infinite;
 }

 /* -------  svg path  ------- */
.svgPath {
  stroke:#070707;
  stroke-dasharray:1,200;
  stroke-dashoffset:0;
  stroke-linecap:round;
  animation:dash 1.5s ease-in-out infinite;
}

/* -------  keyframes - rotate  ------- */
@keyframes rotate {
  100% { transform:rotate(360deg) }
}

/* -------  keyframes - dash  ------- */
@keyframes dash {
  0% {
    stroke-dasharray:1,200;
    stroke-dashoffset:0;
  }
  50% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-35px;
  }
  100% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-124px;
  }
}

@media only screen and (min-width:667px) {
  .svgContainer {
    width:90px
  }

}
