
/* -------  app container  ------- */
.appContainer {
  display:flex;
  align-items:center;
  flex-direction:column;
}


/* -------  header container  ------- */
.headerContainer {
  width:100%;
  flex-basis:25%;
  display:flex;
  align-items:center;
  justify-content:center;
}
/* -------  header  ------- */
.header {
  font-family:monospace;
  font-size:3.33em;
}


/* -------  main container  ------- */
.mainContainer {
  width:96%;
  height:100%;
  max-width:1444px;
  margin:0 auto;
}


/* -------  homes list  ------- */
.homesList {
  display:flex;
  justify-content:center;
  flex-wrap:wrap;
}


/* -------  home item  ------- */
.homeItem {
  margin:1em;
  border:2px solid #070707;
  background:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  flex:1 1 calc(50% - 2em);
}


/* -------  image container  ------- */
.imageContainer {
  flex:1;
  position:relative;
}
/* -------  image  ------- */
.image {
  background:#ddd;
  display:flex;
}
.imageCaption {
  width:100%;
  background-color:rgba(255,255,255,0.7);
  position:absolute;
  bottom:0;
  right:0;
  left:0;
  padding:0.2em 0.4em;
}



/* -------  info container  ------- */
.infoContainer {
  flex:1;
}













/* -------  loading container  ------- */
.loadingContainer {

}

/* -------  svg container  ------- */
.svgContainer {
  position:relative;
  width:70px;
  margin:0 auto;
}

 /* -------  svg container - ::after  ------- */
.svgContainer::before {
  content:'';
  display:block;
  padding-top:100%;
}

/* -------  svg  ------- */
.svg {
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  transform-origin:center center;
  animation:rotate 2s linear infinite;
 }

 /* -------  svg path  ------- */
.svgPath {
  stroke:#070707;
  stroke-dasharray:1,200;
  stroke-dashoffset:0;
  stroke-linecap:round;
  animation:dash 1.5s ease-in-out infinite;
}

/* -------  keyframes - rotate  ------- */
@keyframes rotate {
  100% { transform:rotate(360deg) }
}

/* -------  keyframes - dash  ------- */
@keyframes dash {
  0% {
    stroke-dasharray:1,200;
    stroke-dashoffset:0;
  }
  50% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-35px;
  }
  100% {
    stroke-dasharray:89,200;
    stroke-dashoffset:-124px;
  }
}

@media only screen and (min-width:667px) {
  .svgContainer {
    width:90px
  }

}
